.plantilla{
    background-image: url(../img/naty15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto";
    font-weight: bold;
    .relleno{
        font-weight: bold;
    }
    .fotot{
        box-shadow: 10px 10px 10px rgb(74, 66, 66);
        border-radius: 10px;
    }

    .button{
        @include flexCenter(column);
        width: 0%;
        margin: 0 auto;
        margin-top: 30px;
        color: $primary-color;
        border: 3px solid $primary-color;
        font-weight: bold;

    }
    form{
       
        border-radius: 15px;
        padding: 10px;
        box-shadow: 10px 10px 10px 10px rgb(74, 66, 66);
        margin-bottom: 30px;

    }

}