.galera{
    background-image: url(../img/tarde8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto";
    .foton{
        box-shadow: 10px 10px 10px rgb(222, 214, 214);
        border-radius: 10px;  
    }
    
   

}