.home{
    background-image: url(../img/tarde8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   font-family: "Roboto";
   .anuncio{
       font-weight: bold;
   }
    .titut{
        font-weight: bold;
    }
    .foti{
        box-shadow: 10px 10px 10px rgb(208, 199, 199);
        border-radius: 10px; 
    }
}